---
pagination:
    data: collections.blogTags
    size: 1
    alias: blogTag
    addAllPagesToCollections: true
permalink: "/blog/tags/{{ blogTag | slugify }}/"
eleventyComputed:
    layout: layouts/main.html
    title: "Tagged: {{ blogTag }}"
    description: Wolf with a Blog posts tagged with "{{ blogTag }}"
    changefreq: monthly
    priority: 0.6
---
{% import "components/main.njk" as c %}

<!--Schema-->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "name": "{{ title }}",
    "description": "{{ description }}",
    "author": {
        "@type": "Person",
        "name": "PrincessPandaLover",
        "url": "https://princesspandalover.com"
    },
    "isPartOf": {
        "@type" : "Blog",
        "@id": "https://princesspandalover.com/blog/",
        "name": "Wolf with a Blog"
    },
    "url": "https://princesspandalover.com{{ page.url | lower | stripExtension }}",
    "image": {
        "@type": "ImageObject",
        "@id": "https://princesspandalover.com/images/{{ ogImage }}",
        "url": "https://princesspandalover.com/images/{{ ogImage }}",
        "height": "{{ ogImageHeight }}",
        "width": "{{ ogImageWidth }}"
    }
}
</script>

<h1>Wolf with a Blog</h1>
{{ c.backButton("/blog/") }}

<h2>Tagged: {{ blogTag }}</h2>

{%- set posts = collections.blog | filterByBlogTag(blogTag) -%}
{{ c.blogEntries(posts) }}