---
pagination:
    data: collections.blogTags
    size: 1
    alias: blogTag
    addAllPagesToCollections: true
permalink: "/blog/tags/{{ blogTag | slugify }}/"
eleventyComputed:
    layout: layouts/main.html
    title: "Tagged: {{ blogTag }}"
    description: Wolf with a Blog posts tagged with "{{ blogTag }}"
    ogImage: logo.png
    ogImageWidth: 396
    ogImageHeight: 112
    changefreq: monthly
    priority: 0.6
---
{% import "components/main.njk" as c %}

<h1>Wolf with a Blog</h1>
{{ c.backButton("/blog/") }}

<h2>Tagged: {{ blogTag }}</h2>

{%- set posts = collections.blog | filterByBlogTag(blogTag) -%}
{{ c.blogEntries(posts) }}