{% macro heartButton(href, text, longer) %}
<a href="{{ href }}"><div class="heart-button-container">
    <img eleventy:ignore class="heart-button" src="images/heart-button.svg" width=120 height=110 fetchpriority="high" alt="Light magenta heart symbol with magenta outline" aria-hidden="true">
    <!--<div class="heart-image">
        <img src="" height=65 >
    </div>-->
    <div class="heart-button-text {% if longer %}longer{% endif %}">
        {{ text }}
    </div>
</div></a>
{% endmacro %}

{% macro heartLinkButton(href, iconType, iconName, title) %}
<a href="{{ href }}" title="{{ title }}" rel="me"><div class="heart-button-container">
    <img eleventy:ignore class="heart-link-button" src="images/heart-button.svg" width=65 height=60 fetchpriority="high" alt="Light magenta small heart symbol with magenta outline" aria-hidden="true">
    {% if iconType == 'font' %}
    <i class="fa-brands fa-{{ iconName }} heart-link-icon"></i>
    {% elif iconType == 'img' %}
    <div class="heart-link-icon">
        <img eleventy:ignore src="images/link-icons/{{ iconName }}.svg" alt="{{ title }} icon" aria-hidden="true">
    </div>
    {% endif %}
</div></a>
{% endmacro %}

{% macro articleSelect(pagination, previousMonth, nextMonth, index, selectLabel) %}
<nav class="article-select-section" id="article-select-section-{{ index }}">
  {% if previousMonth %}<a class="button" href="{{ previousMonth }}">Previous</a> | {% endif %}<div class="article-select"><label for="article-select-{{ index }}">{{ selectLabel }}:</label>
    <select id="article-select-{{ index }}">
        {{ caller() }}
    </select>
    <button id="go-to-article-{{ index }}" onclick="goToArticle()">Go</button></div>{% if nextMonth %} | <a class="button" href="{{ nextMonth }}">Next</a>{% endif %}
</nav>
{% endmacro %}

{% macro directLink(id) %}
    <a href="#{{ id }}" class="white-link" title="Direct link"><i class="fa-solid fa-link"></i></a>
{% endmacro %}

{% macro rssButton(href) %}
    <a class="button" href="{{ href | default('feed.xml') }}"><i class="fa-solid fa-rss"></i> Stay up to date with the RSS feed!</a>
{% endmacro %}