{# Yes, this is where the arc names are stored #}
{% set arc_names = [
    "A Glimpse",
    "I Can't Believe I Made It!"
] %}

{% macro nav(pagination, currentPg, totalPgs, firstComic, previousComic, nextComic, lastComic) %}
<div class="comicNav">
    {% if currentPg > 1 %}
    <!--First comic button-->
    <a href="{{ firstComic }}#showComic"/><img eleventy:ignore src="img/comicnav/nav_first.svg" alt="First" title="First"/></a>
    <!--Prev comic button-->
    <a href="{{ previousComic }}#showComic"/><img eleventy:ignore src="img/comicnav/nav_previous.svg" alt="Previous" title="Previous"/></a>
    {% endif %}
    {% if currentPg != totalPgs %}
    <!--Next comic button-->
    <a href="{{ nextComic }}#showComic"/><img eleventy:ignore src="img/comicnav/nav_next.svg" alt="Next" title="Next"/></a>
    <!--Last comic button-->
    <a href="{{ lastComic }}#showComic"/><img eleventy:ignore src="img/comicnav/nav_last.svg" alt="Last" title="Last"/></a>
    {% endif %}
</div>
{% endmacro %}

{% macro arcName(num) %}
    {{ arc_names[num] }}
{% endmacro %}

{% macro comicsArcName(tags) %}
    {% set arc_tag = "" %}
    {% for tag in tags %}
        {% if tag.startsWith("ssArc") %}
            {% set arc_tag = tag %}
        {% endif %}
    {% endfor %}
    {% if arc_tag %}
        {% set arc_num = arc_tag | replace("ssArc", "") %}
        <a class="p-category" href="archive.html#arc{{arc_num}}">Arc {{ arc_num }}: {{ arc_names[arc_num] | safe }}</a>
    {% endif %}
{% endmacro %}