---
pagination:
  data: collections.tpt2Log
  size: 1
  alias: monthlyData
  addAllPagesToCollections: true
permalink: /tpt2/{{ monthlyData.monthKey | getMonthName }}-{{ monthlyData.monthKey | getYear }}.html
eleventyExcludeFromCollections: ["tpt2Log"]
eleventyComputed:
  layout: layouts/main.html
  title: "{{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }} - My Theme Park Tycoon 2 Buildlog"
  description: "Entries of My Theme Park Tycoon 2 Buildlog for the month of {{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }}."
  ogImage: "{{ monthMetadata[monthlyData.monthKey].ogImage }}"
  ogDescription: "Come see what I built in Theme Park Tycoon 2 on Roblox in {{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }}! {{ monthMetadata[monthlyData.monthKey].ogDescription }}"
  summaryLargeImage: true
  noSitemap: false
  changefreq: monthly
  priority: 0.6
  blogLaunchDate: 2024-05-11
---
{% import "components/main.njk" as c %}
{% set previousMonth = pagination.href.next %} {# Because the entries are reversed #}
{% set nextMonth = pagination.href.previous %}

<!--Schema-->
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@graph": [
      {
        "@type" : "Blog",
        "@id": "https://princesspandalover.com/tpt2/",
        "mainEntityOfPage": "https://princesspandalover.com/tpt2/",
        "name": "My Theme Park Tycoon 2 Blog",
        "author": {
            "@type": "Person",
            "name": "PrincessPandaLover",
            "url": "https://princesspandalover.com"
        },
        "datePublished": "{{ blogLaunchDate | schemaDate }}",
        "countryOfOrigin": "United States",
        "inLanguage": "en-US",
        "isFamilyFriendly": "True",
        "description": "Come see what I built in Theme Park Tycoon 2 on Roblox! I've tried a Green Hill Zone ride, a Sonic statue, a wolf prop, and more.",
        "about": {
            "@type": "VideoGame",
            "name": "Theme Park Tycoon 2",
            "publisher": "Roblox"
        }
      },
      {% for entry in monthlyData.entries %}
      {
        "@type": "BlogPosting",
        "@id": "https://princesspandalover.com{{ page.url | lower | stripExtension }}#{{ entry.data.title }}",
        "mainEntityOfPage": "https://princesspandalover.com{{ page.url | lower | stripExtension }}#{{ entry.data.title }}",
        "headline": "{{ entry.data.date | postDate }}",
        "name": "{{ entry.data.date | postDate }}",
        "datePublished": "{{ entry.data.date | schemaDate }}",
        "author": {
            "@type": "Person",
            "name": "PrincessPandaLover",
            "url": "https://princesspandalover.com"
        },
        "url": "https://princesspandalover.com{{ page.url | lower | stripExtension }}#{{ entry.data.title }}",
        "isPartOf": {
            "@type" : "Blog",
            "@id": "https://princesspandalover.com/tpt2/",
            "name": "My Theme Park Tycoon 2 Blog"
        }
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
}
</script>

<h1>My Theme Park Tycoon 2 Buildlog - {{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }}</h1>
{% call c.articleSelect(pagination, previousMonth, nextMonth, 0, "Select month") %}
    {% for page in pagination.pages %}
      {% set pageMonth = page.monthKey | getMonthName %}
      {% set pageYear = page.monthKey | getYear %}
      <option value="{{ pageMonth | lower }}-{{ pageYear | lower }}">{{ pageMonth }} {{ pageYear }}</option>
    {% endfor %}
{% endcall %}

<nav class="text-box list-only">
  <ul>
    {% for entry in monthlyData.entries %}
    <li><a href="#{{ entry.data.title }}">{{ entry.data.date | postDate }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for entry in monthlyData.entries %}
<article class="h-entry">
  <h2 id="{{ entry.data.title }}"><span class="p-name dt-published">{{ entry.data.date | postDate }}</span> {{ c.directLink(entry.data.title) }}</h2>
  <a class="p-author h-card" href="/" hidden aria-hidden="true">PrincessPandaLover</a>
  {%- set monthNameLower = monthlyData.monthKey | getMonthName | lower %}
  {%- set year = monthlyData.monthKey | getYear %}
  {%- set entryURL = "https://princesspandalover.com/tpt2/" + monthNameLower + "-" + year + "#" + entry.data.title %}
  <a class="u-url u-uid" href="{{ entryURL }}" hidden aria-hidden="true">{{ entryURL }}</a>
  <div class="text-box e-content">
    {{ entry.content | safe }}
  </div>
</article>
{% endfor %}

{% call c.articleSelect(pagination, previousMonth, nextMonth, 1, "Select month") %}
    {% for page in pagination.pages %}
      {% set pageMonth = page.monthKey | getMonthName %}
      {% set pageYear = page.monthKey | getYear %}
      <option value="{{ pageMonth | lower }}-{{ pageYear | lower }}">{{ pageMonth }} {{ pageYear }}</option>
    {% endfor %}
{% endcall %}

{{ c.rssButton() }}

<script src="/scripts/articleDropdownSelect.js" defer></script>
