---
pagination:
  data: collections.tpt2Log
  size: 1
  alias: monthlyData
  addAllPagesToCollections: true
permalink: /tpt2/{{ monthlyData.monthKey | getMonthName }}-{{ monthlyData.monthKey | getYear }}.html
eleventyExcludeFromCollections: ["tpt2Log"]
eleventyComputed:
  title: "{{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }} - My Theme Park Tycoon 2 Buildlog"
  description: "Entries of My Theme Park Tycoon 2 Buildlog for the month of {{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }}."
  ogImage: "{{ monthMetadata[monthlyData.monthKey].ogImage }}"
  ogDescription: "Come see what I built in Theme Park Tycoon 2 on Roblox in {{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }}! {{ monthMetadata[monthlyData.monthKey].ogDescription }}"
  summaryLargeImage: true
  noSitemap: false
  changefreq: monthly
  priority: 0.6
---
{% import "components/main.njk" as c %}
{% set previousMonth = pagination.href.next %} {# Because the entries are reversed #}
{% set nextMonth = pagination.href.previous %}

<h1>My Theme Park Tycoon 2 Buildlog - {{ monthlyData.monthKey | getMonthName }} {{ monthlyData.monthKey | getYear }}</h1>
{% call c.articleSelect(pagination, previousMonth, nextMonth, 0, "Select month") %}
    {% for page in pagination.pages %}
      {% set pageMonth = page.monthKey | getMonthName %}
      {% set pageYear = page.monthKey | getYear %}
      <option value="{{ pageMonth }}-{{ pageYear }}.html">{{ pageMonth }} {{ pageYear }}</option>
    {% endfor %}
{% endcall %}

<nav class="text-box list-only">
  <ul>
    {% for entry in monthlyData.entries %}
    <li><a href="#{{ entry.data.title }}">{{ entry.data.date | postDate }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for entry in monthlyData.entries %}
<article class="h-entry">
  <h2 id="{{ entry.data.title }}"><span class="p-name dt-published">{{ entry.data.date | postDate }}</span> {{ c.directLink(entry.data.title) }}</h2>
  <a class="p-author h-card" href="/" hidden aria-hidden="true">PrincessPandaLover</a>
  {%- set monthNameLower = monthlyData.monthKey | getMonthName | lower %}
  {%- set year = monthlyData.monthKey | getYear %}
  {%- set entryURL = "https://princesspandalover.com/tpt2/" + monthNameLower + "-" + year + "#" + entry.data.title %}
  <a class="u-url u-uid" href="{{ entryURL }}" hidden aria-hidden="true">{{ entryURL }}</a>
  <div class="text-box e-content">
    {{ entry.content | safe }}
  </div>
</article>
{% endfor %}

{% call c.articleSelect(pagination, previousMonth, nextMonth, 1, "Select month") %}
    {% for page in pagination.pages %}
      {% set pageMonth = page.monthKey | getMonthName %}
      {% set pageYear = page.monthKey | getYear %}
      <option value="{{ pageMonth }}-{{ pageYear }}.html">{{ pageMonth }} {{ pageYear }}</option>
    {% endfor %}
{% endcall %}

{{ c.rssButton() }}

<script src="/scripts/articleDropdownSelect.js" defer></script>
