---
ogImage: opengraph-graphic-1.0.png
ogImageWidth: 1200
ogImageHeight: 630
ogImageAlt: "PrincessPandaLover logo, with heart at beginning"
summaryLargeImage: true
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - ❤︎PrincessPandaLover</title>
        {% else %}
        <title>❤︎PrincessPandaLover - Official website</title>
        {% endif %}
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

        {% if page.url != "/404.html" %}
        <meta name="description" content="{{ description }}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/styles/style.css">

        <link rel="preload" href="/fonts/montserrat.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/montserrat-italic.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/montserrat-bold.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/montserrat-bold-italic.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/images/background-accessible.png" as="image">
        <link rel="preload" href="/images/logo-sticker.svg" as="image">
        <link rel="preload" href="/images/heart-button.svg" as="image">

        {% if code %}
        <link href="/styles/prism.css" rel="stylesheet" />

        <link rel="preload" href="/fonts/source-code-pro.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/source-code-pro-bold.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/source-code-pro-bold.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/source-code-pro-bold-italic.woff2" as="font" type="font/woff2" crossorigin>
        {% endif %}

        {% if page.url != "/404.html" %}
        <link rel="canonical" href="https://princesspandalover.com{{ page.url | lower | stripExtension }}" />
        {% endif %}
        
        {% if page.url != "/404.html" %}
        {% if title %}
        <meta property="og:title" content="{{ title }} - ❤︎PrincessPandaLover"/>
        {% else %}
        <meta property="og:title" content="❤︎PrincessPandaLover - Official website"/>
        {% endif %}
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://princesspandalover.com/images/{{ ogImage }}"/>
        <meta property="og:image:width" content="{{ ogImageWidth }}"/>
        <meta property="og:image:height" content="{{ ogImageHeight }}"/>
        <meta property="og:image:alt" content="{{ ogImageAlt }}" />
        <meta property="og:url" content="https://princesspandalover.com{{ page.url | stripExtension }}"/>
        <meta property="og:description" content="{{ ogDescription | default(description) | default('') }}"/>

        <meta name="twitter:card" content="{% if summaryLargeImage %}summary_large_image{% else %}summary{% endif %}">
        <meta name="twitter:site" content="@PrincPandaTweet">
        {% if title %}
        <meta property="twitter:title" content="{{ title }} - ❤︎PrincessPandaLover"/>
        {% else %}
        <meta property="twitter:title" content="❤︎PrincessPandaLover - Official website"/>
        {% endif %}
        <meta name="twitter:description" content="{{ ogDescription | default(description) | default('') }}">
        <meta name="twitter:image" content="https://princesspandalover.com/images/{{ ogImage }}">
        {% endif %}

        <script defer src="https://cloud.umami.is/script.js" data-website-id="e50449cb-4029-43db-884d-24ac69a6f84a"></script>
        <link rel="webmention" href="https://webmention.io/princesspandalover.com/webmention" />
    </head>

    <body>
        <div class="wrapper">
            <header class="logo">
                <a href="/" class="colored-link"><img eleventy:ignore src="/images/logo-sticker.svg" class="logo" width="415" height="131" fetchpriority="high" alt="PrincessPandaLover logo with heart at beginning and sticker-like outline"></a>
            </header><br/>

            <main>
                {{ content | safe }}
            </main>
        </div>
        
        <footer>
            <p>Copyright © 2022-2026 by PrincessPandaLover. <i>Sonic the Hedgehog</i> is copyrighted © by SEGA CORPORATION. Other copyrighted properties are by their respective owners.</p>
            <p>All original content may be reproduced and/or altered with attribution and for noncommercial purposes that are not abusive or illegal, unless otherwise noted.</p>
            <p>Powered by <a href="https://www.11ty.dev/">Eleventy</a>. <a href="https://github.com/PrincessPandaSource/PrincessPandaLover-official-website">Source code on GitHub</a>.</p>
        </footer>

        <script src="https://kit.fontawesome.com/eee9ee52d0.js" crossorigin="anonymous" defer></script>
    </body>
</html>