---
layout: layouts/main.html
tags: blog
changefreq: monthly
priority: 0.8
eleventyComputed:
  title: "{{ postTitle }} - Wolf with a Blog"
---
{% import "components/main.njk" as c %}

<!--Schema-->
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
    "@id": "https://princesspandalover.com{{ page.url | lower | stripExtension }}",
    "mainEntityOfPage": "https://princesspandalover.com{{ page.url | lower | stripExtension }}",
    "headline": "{{ postTitle }}",
    "name": "{{ postTitle }}",
    "description": "{{ description }}",
    "datePublished": "{{ date | schemaDate }}",
    "author": {
        "@type": "Person",
        "name": "PrincessPandaLover",
        "url": "https://princesspandalover.com"
    },
    "url": "https://princesspandalover.com{{ page.url | lower | stripExtension }}",
    "image": {
        "@type": "ImageObject",
        "@id": "https://princesspandalover.com/images/{{ ogImage }}",
        "url": "https://princesspandalover.com/images/{{ ogImage }}",
        "height": "{{ ogImageHeight }}",
        "width": "{{ ogImageWidth }}"
    },
    "isPartOf": {
        "@type" : "Blog",
        "@id": "https://princesspandalover.com/blog/",
        "name": "Wolf with a Blog"
    }
}
</script>

<h1>Wolf with a Blog</h1>
<article class="h-entry">
    {{ c.backButton("/blog/") }}

    <h2 class="p-name">{{ postTitle }}</h2>
    <div class="text-box blog-info-box">
        <p class="p-summary">{{ description }}</p>
        <a class="p-author h-card" href="/" hidden aria-hidden="true">PrincessPandaLover</a>
        {%- set URL = "https://princesspandalover.com/blog/" + page.fileSlug -%}
        <a class="u-url u-uid" href="{{ URL }}" hidden aria-hidden="true">{{ URL }}</a>
        
        <p>Posted on <span class="dt-published">{{ date | postDate }}</span> | Tags: <span class="blog-tags-contain p-category" style="display: inline-flex">{{ c.blogTags(blogTags) }}</span></p>
    </div>

    <div class="e-content">
        {{ content | safe }}
    </div>
</article>